@font-face {
	font-family: 'GT Walsheim Pro';
	src: url('../fonts/GTWalsheimPro-Regular.eot');
	src: local('☺'), url('../fonts/GTWalsheimPro-Regular.woff') format('woff'), url('fonts/GTWalsheimPro-Regular.ttf') format('truetype'), url('fonts/GTWalsheimPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GTWalshGT Walsheim ProeimPro';
	src: url('../fonts/GTWalsheimPro-Bold.eot');
	src: local('☺'), url('../fonts/GTWalsheimPro-Bold.woff') format('woff'), url('fonts/GTWalsheimPro-Bold.ttf') format('truetype'), url('fonts/GTWalsheimPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}